aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
aiovk==4.0.0
altgraph==0.17
arrow==1.1.1
async-timeout==3.0.1
attrs==21.2.0
auto-py-to-exe==2.10.0
Automat==20.2.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
choicelib==0.1.4
colored==1.4.2
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
debtcollector==2.2.0
demjson==2.2.4
discord==1.7.3
discord-components==2.0.5
discord.py==1.7.3
DiscordUtils==1.3.4
dnspython==1.16.0
Eel==0.12.4
eventlet==0.31.1
fasteners==0.16.3
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
googletrans==3.0.0
greenlet==1.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.8.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
iso8601==0.1.16
itemadapter==0.3.0
itemloaders==1.0.4
jmespath==0.10.0
jtutils==0.0.8
kiwisolver==1.3.1
leven==1.0.4
lxml==4.6.3
matplotlib==3.4.2
msgpack==1.0.2
multidict==5.1.0
netaddr==0.8.0
netifaces==0.11.0
nose==1.3.7
numpy==1.21.1
os-win==5.4.0
oslo.concurrency==4.4.0
oslo.config==8.7.1
oslo.context==3.3.0
oslo.i18n==5.0.1
oslo.log==4.6.0
oslo.serialization==4.1.0
oslo.utils==4.9.2
packaging==21.0
pandas==1.3.1
parsel==1.6.0
pbr==5.6.0
pefile==2021.5.24
Pillow==8.3.1
pip==21.2.4
priority==1.3.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pydata==1.0.0
PyDispatcher==2.0.5
pyFirmata==1.1.0
pygame==2.0.1
pyinstaller==4.5
pyinstaller-hooks-contrib==2021.2
PyMI==1.0.6
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyserial==3.5
pyTelegramBotAPI==3.8.2
python-csv==0.0.13
python-dateutil==2.8.2
python-socks==1.2.4
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
queuelib1==.6.1
requests2==.26.0
rfc3986==1.5.0
Scrapy==2.5.0
selenium==3.141.0
service-identity==21.1.0
setuptools==56.0.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
stevedore==3.3.0
telebot==0.0.4
times==0.7
Twisted==21.7.0
twisted-iocpsupport==1.0.1
typing-extensions==3.10.0.2
urllib3==1.26.6
vbml==1.1
vk==2.0.2
vk-api1==1.9.4
vkbottle==3.0.2
vkbottle-types==5.131
w3lib==1.22.0
watchgod==0.7
whichcraft==0.6.1
WMI==1.5.1
wrapt==1.12.1
xlrd==2.0.1
xmltodict==0.12.0
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0